# Exploracion de datos

In [13]:
import pandas as pd
import matplotlib.pyplot as plt

vuelos = 'C:\\Users\\max80\\OneDrive\\Documents\\DATATHON 2024\\Filghts TEC_Valid.csv'
compras = 'C:\\Users\\max80\\OneDrive\\Documents\\DATATHON 2024\\Sales TEC_Valid.csv'

df_vuelos = pd.read_csv(vuelos)
df_compras = pd.read_csv(compras)

n_vuelos = df_vuelos.shape[0]
n_compras = df_compras.shape[0]

vacios_vuelos = df_vuelos.isna()
vacios_vuelos = vacios_vuelos.sum()

vacios_compras = df_compras.isna()
vacios_compras = vacios_compras.sum()

display(df_vuelos)

,Flight_ID,Aeronave,DepartureStation,ArrivalStation,Destination_Type,Origin_Type,STD,STA,Capacity,Passengers,Bookings
0,ab954014077430bd842cfa305a55c0f8,XA-VBY,AT,AZ,Ciudad Fronteriza,Ciudad Principal,2023-10-19 11:40:00,2023-10-19 14:25:00,240,229.0,157.0
1,efd86c996035dacdca7a0ccb2560dda1,XA-VIX,BM,AV,MX Amigos y Familia,Ciudad Fronteriza,2023-07-03 00:55:00,2023-07-03 04:55:00,186,197.0,109.0
2,6cfa1bbaa44f08fc7d3061f034a6a5ce,XA-VBV,AW,AS,MX Amigos y Familia,Ciudad Principal,2024-02-16 17:10:00,2024-02-16 17:55:00,220,NaN,NaN
3,dd0fad3248951d2f71d63e6279aeaa4b,XA-VBW,AW,AS,MX Amigos y Familia,Ciudad Principal,2023-06-26 15:15:00,2023-06-26 15:55:00,220,200.0,142.0
4,d0987ee648eea254063bfe2b39571b67,XA-VAP,BA,AB,Playa,Ciudad Principal,2023-02-10 08:40:00,2023-02-10 09:50:00,186,162.0,90.0
...,...,...,...,...,...,...,...,...,...,...,...
245748,cc7c1c5e6fd132fd0bdab3a35aac33c0,XA-VBK,BM,BT,Playa,Ciudad Fronteriza,2023-12-29 07:30:00,2023-12-29 14:50:00,240,189.0,86.0
245749,ef32da2731db80faa8b9f5030979a016,9H-MLV,AW,BT,Playa,Ciudad Principal,2024-04-20 10:45:00,2024-04-20 14:00:00,178,NaN,NaN
245750,9c8970e9836d9c5ef9415bfa93c3f408,XA-VAC,AT,BT,Playa,Ciudad Principal,2023-12-22 12:50:00,2023-12-22 16:10:00,180,163.0,95.0
245751,3c15779202b13158f78e8a8afe377250,NaN,AW,BT,Playa,Ciudad Principal,2024-10-04 10:00:00,2024-10-04 13:15:00,240,NaN,NaN
245752,20304ab7212bbbe6c77cdc852d4f8d19,NaN,BA,BT,Playa,Ciudad Principal,2024-05-23 11:25:00,2024-05-23 14:40:00,240,NaN,NaN

In [14]:
print("La base de vuelos tiene:", n_vuelos,"lineas")
print("La base de compras tiene:", n_compras,"lineas")

La base de vuelos tiene: 245753 lineas
La base de compras tiene: 2564361 lineas

In [15]:
print(vacios_vuelos)

Flight_ID                0
Aeronave             80390
DepartureStation         1
ArrivalStation           1
Destination_Type         1
Origin_Type              1
STD                      0
STA                      0
Capacity                 0
Passengers          123525
Bookings            123525
dtype: int64

In [16]:
print(vacios_compras)

Flight_ID      0
ProductType    0
ProductName    0
Quantity       0
TotalSales     0
dtype: int64

In [17]:
total_ID = df_vuelos['Flight_ID'].nunique()
print(total_ID)

ID  = df_vuelos['Flight_ID'].value_counts()
ID = pd.DataFrame(ID)
ID = ID.sort_values(by = 'count', ascending = False)
#display(ID)

238055

In [18]:
df_vuelos['STD'] = pd.to_datetime(df_vuelos['STD'])
df_vuelos['Año'] = df_vuelos['STD'].dt.year
df_vuelos['Mes'] = df_vuelos['STD'].dt.month

df_vuelos = df_vuelos.sort_values(by = 'STD', ascending = True)

pasajeros_mes = df_vuelos.groupby(['Año', 'Mes'])['Passengers'].sum()

#plt.figure(figsize=(10, 6))
#pasajeros_mes.plot(marker='o', linestyle='-', color='burlywood', label='Total Pasajeros por mes')

#plt.xlabel('Fecha')
#plt.ylabel('Pasajeros')
#plt.title('Pasajeros 2023')
#plt.legend()
#plt.xticks(rotation=45)
#plt.grid(True)
#plt.tight_layout()
#plt.show()

# Creacion de base final

In [21]:
df_final = df_vuelos.dropna()
comprasxvuelo = df_compras[["Flight_ID","Quantity","TotalSales"]].groupby("Flight_ID").sum()
comprasxvuelo = pd.DataFrame(comprasxvuelo)

mapeo_compras = dict(zip(comprasxvuelo["Flight_ID"], comprasxvuelo["TotalSales"]))
df_final['TotalSales'] = bd_df["Flight_ID"].map(mapeo_compras)
display(df_final)

KeyError: 'Flight_ID'

In [22]:
display(comprasxvuelo)

                                  Quantity  TotalSales
Flight_ID
00004a718edba9d9ef878d08f02ae057        50      2028.0
0000cd79c0c3a9c309df6064dcacaeea        54      2021.0
000163f0df9cbfc35c4c06645ec512f6         6       417.0
00017be73003a570dd426b155762769c       158      7189.0
0001a43836c338f8d8650aefb11672c9       142      7162.0
...                                    ...         ...
fffe47f84ecc55da94b2907a7317dd12       133      4754.0
fffe4a9c19ae2320e76f02939fdff957        79      3441.0
ffff138536f249f69340e0a8336f94a4       107      4368.0
ffff782f2ae79e385a016c00fbd994b8        49      2686.0
ffff881a59bc5274e97ea3c4de344e05        14       666.0

[108964 rows x 2 columns]