In [1]:
import pandas as pd

In [5]:
# Import datasets
df_vuelos = pd.read_csv("D:/Documentos/Python Scripts/Datathon 2024/Filghts TEC_Valid.csv")
df_ventas = pd.read_csv("D:/Documentos/Python Scripts/Datathon 2024/Sales TEC_Valid.csv")

In [42]:
# Convert date strings to datetime objects, then sort dataframe by departure date
df_vuelos["STD"] = pd.to_datetime(df_vuelos["STD"])
df_vuelos["STA"] = pd.to_datetime(df_vuelos["STA"])

df_vuelos = df_vuelos.sort_values(by="STD")

# Filter only data where Passengers and Bookings are not NaN (this is the training data)
df_vuelos_1 = df_vuelos[ df_vuelos["Passengers"].notna() ]
# display(df_vuelos_1)

In [66]:
# Calculate average number of Passengers and Bookings each month
df_v_m = df_vuelos_1
df_v_m["Month"] = df_v_m["STD"].dt.month
df_month_avg = df_v_m[["Month","Passengers","Bookings"]].groupby("Month", as_index=False).mean().round()
# df_month_avg = df_vuelos_1[["Passengers","Bookings"]].groupby( by=df_vuelos_1["STD"].dt.month, as_index=False ).mean().round()
df_month_avg = df_month_avg.rename(columns={"Passengers":"Mean Passengers","Bookings":"Mean bookings"})
display(df_month_avg)

C:\Users\missa\AppData\Local\Temp\ipykernel_14904\1486332905.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_v_m["Month"] = df_v_m["STD"].dt.month

    Month  Mean Passengers  Mean bookings
0       1            174.0          109.0
1       2            177.0          114.0
2       3            181.0          116.0
3       4            185.0          112.0
4       5            185.0          117.0
5       6            185.0          115.0
6       7            191.0          110.0
7       8            187.0          109.0
8       9            182.0          117.0
9      10            188.0          118.0
10     11            185.0          117.0
11     12            181.0          111.0