In [1]:
import pandas as pd

In [2]:
# Import datasets
df_vuelos = pd.read_csv("D:/Documentos/Python Scripts/Datathon 2024/Filghts TEC_Valid.csv")
df_ventas = pd.read_csv("D:/Documentos/Python Scripts/Datathon 2024/Sales TEC_Valid.csv")

In [3]:
# Convert date strings to datetime objects, then sort dataframe by departure date
df_vuelos["STD"] = pd.to_datetime(df_vuelos["STD"])
df_vuelos["STA"] = pd.to_datetime(df_vuelos["STA"])

# df_ventas["STD"] = pd.to_datetime(df_ventas["STD"])
# df_ventas["STA"] = pd.to_datetime(df_ventas["STA"])

display(df_ventas)

,Flight_ID,ProductType,ProductName,Quantity,TotalSales
0,a05290288259526edd3601160b10e1de,Botanas,Carne Seca Habanero,1,55.0
1,08f6f97437df8db101b050f1110be656,Licores,Jw Red Label,2,240.0
2,4e09c949826a77207868412baeff6d30,Licores,Jack And Coke,8,576.0
3,c3e1568fe46c68d3174681d322d412b3,Licores,Jw Red Label,2,240.0
4,7396e43fb94caca87add7bb1f1611e7e,Vivabus,Vivabus_Gdl.-Nvo. C. Camionera,4,320.0
...,...,...,...,...,...
2564356,638cf1904f936c50aea4a6f123ee07cf,Licores,Vino Tinto Sangre De Toro,1,155.0
2564357,04c5a19b8382a888d5c4c7b4932e783e,Licores,Vino Tinto Sangre De Toro,1,155.0
2564358,0291f6b201d2b24717a8ed7ca04f2d90,Licores,Vino Tinto Sangre De Toro,1,155.0
2564359,a10e3ac614fd434d6312897e07727c08,Licores,Vino Tinto Sangre De Toro,1,155.0
2564360,3f53b6ab66d674c6ecec9ebb5d040460,Licores,Vino Tinto Sangre De Toro,1,155.0

In [4]:
list(df_ventas["ProductType"].unique())

['Botanas',
 'Licores',
 'Vivabus',
 'Transportaciones CUN',
 'Galletas',
 'Specials',
 'Bebidas Calientes',
 'COMBOS CREW',
 'Hertz.',
 'OFERTAS ',
 'Transportaciones MTY',
 'Transportaciones TLC',
 'VIVA PLAY',
 'VIVA Taxis',
 'Antros',
 'VivaTransfer',
 'Alimentos Charter',
 'Perecederos',
 'Refrescos',
 'Sopas',
 'Lacteos']

In [5]:
df_ventas[["Flight_ID","Quantity","TotalSales"]].groupby("Flight_ID").sum()

                                  Quantity  TotalSales
Flight_ID
00004a718edba9d9ef878d08f02ae057        50      2028.0
0000cd79c0c3a9c309df6064dcacaeea        54      2021.0
000163f0df9cbfc35c4c06645ec512f6         6       417.0
00017be73003a570dd426b155762769c       158      7189.0
0001a43836c338f8d8650aefb11672c9       142      7162.0
...                                    ...         ...
fffe47f84ecc55da94b2907a7317dd12       133      4754.0
fffe4a9c19ae2320e76f02939fdff957        79      3441.0
ffff138536f249f69340e0a8336f94a4       107      4368.0
ffff782f2ae79e385a016c00fbd994b8        49      2686.0
ffff881a59bc5274e97ea3c4de344e05        14       666.0

[108964 rows x 2 columns]

In [6]:
df_ventas[ df_ventas["Flight_ID"] == "00017be73003a570dd426b155762769c" ]

,Flight_ID,ProductType,ProductName,Quantity,TotalSales
51908,00017be73003a570dd426b155762769c,Galletas,Quaker Avena Frutos Rojos,1,42.0
60011,00017be73003a570dd426b155762769c,Botanas,Luxury Nut Mix,1,55.0
124576,00017be73003a570dd426b155762769c,Sopas,Nissin Res,3,135.0
227923,00017be73003a570dd426b155762769c,Botanas,Mafer Sin Sal,2,90.0
302756,00017be73003a570dd426b155762769c,Refrescos,Coca Cola Dieta,1,48.0
331300,00017be73003a570dd426b155762769c,Perecederos,Panini Integral,4,460.0
378995,00017be73003a570dd426b155762769c,Refrescos,Coca Cola Regular,11,528.0
445088,00017be73003a570dd426b155762769c,Licores,Jack And Coke,3,216.0
502315,00017be73003a570dd426b155762769c,Botanas,Tostitos,1,49.0
686254,00017be73003a570dd426b155762769c,Specials,Capitan Morning,2,-17.0
716017,00017be73003a570dd426b155762769c,Refrescos,Jugo De Manzana,1,42.0
753793,00017be73003a570dd426b155762769c,Bebidas Calientes,Cafe 19 Capuchino,2,90.0
830036,00017be73003a570dd426b155762769c,Licores,Jw Red Label,1,120.0
859903,00017be73003a570dd426b155762769c,Galletas,Chokis,3,135.0
921089,00017be73003a570dd426b155762769c,Specials,Combo Cheve,3,-18.0
962039,00017be73003a570dd426b155762769c,Specials,Super Combo,6,-168.0
1030116,00017be73003a570dd426b155762769c,Botanas,Ruffles Queso,6,294.0
1066190,00017be73003a570dd426b155762769c,Perecederos,Panini Clasico,6,690.0
1100232,00017be73003a570dd426b155762769c,Refrescos,Coca Sin Azucar,1,48.0
1286494,00017be73003a570dd426b155762769c,Lacteos,Leche De Chocolate Sc,1,42.0
1315849,00017be73003a570dd426b155762769c,Specials,Combo Vino,2,-42.0
1323866,00017be73003a570dd426b155762769c,Licores,Topochico Seltzer Fresa-Guayaba,1,64.0
1383583,00017be73003a570dd426b155762769c,Refrescos,Sprite,8,384.0
1422178,00017be73003a570dd426b155762769c,Bebidas Calientes,Cafe Costa,4,180.0
1494110,00017be73003a570dd426b155762769c,Sopas,Nissin Fuego,5,225.0
1515737,00017be73003a570dd426b155762769c,Botanas,Doritos Nacho,4,196.0
1548657,00017be73003a570dd426b155762769c,Refrescos,Sidral Mundet,2,96.0
1563634,00017be73003a570dd426b155762769c,Sopas,Nissin Picante,4,180.0
1650385,00017be73003a570dd426b155762769c,Specials,Licor + Refresco,1,-18.0
1715498,00017be73003a570dd426b155762769c,Botanas,Cheetos Flamin Hot,2,98.0
1757563,00017be73003a570dd426b155762769c,Galletas,Emperador Chocolate,1,45.0
1805273,00017be73003a570dd426b155762769c,Licores,Topochico Seltzer Mango,1,64.0
1811883,00017be73003a570dd426b155762769c,Licores,Vino Tinto Sangre De Toro,1,155.0
1865603,00017be73003a570dd426b155762769c,Refrescos,Agua Natural 600 Ml,8,384.0
1899899,00017be73003a570dd426b155762769c,Botanas,Sabritas Originales,12,588.0
1919778,00017be73003a570dd426b155762769c,Perecederos,Cuerno Clasico De Pavo,1,115.0
1937445,00017be73003a570dd426b155762769c,Botanas,Arandano Mango Mix,1,55.0
1981677,00017be73003a570dd426b155762769c,Licores,Vino Tinto Cria Cuervos,2,310.0
2050717,00017be73003a570dd426b155762769c,Licores,Xx Lager,6,432.0
2089729,00017be73003a570dd426b155762769c,Specials,Combo Snack,13,-91.0
2135244,00017be73003a570dd426b155762769c,Licores,Tecate Light,2,144.0
2152702,00017be73003a570dd426b155762769c,Refrescos,Jugo De Mango,1,42.0
2192832,00017be73003a570dd426b155762769c,Specials,Combo Aventura,1,-12.0
2304286,00017be73003a570dd426b155762769c,Refrescos,Ciel Mineralizada,4,192.0
2355055,00017be73003a570dd426b155762769c,Botanas,Fritos Limon Y Sal,4,196.0
2453546,00017be73003a570dd426b155762769c,Lacteos,Leche De Fresa Sc,1,42.0
2458465,00017be73003a570dd426b155762769c,Botanas,Nishikawa Japones,1,45.0
2525440,00017be73003a570dd426b155762769c,Botanas,Sabritas Flamin Hot,5,245.0
2559008,00017be73003a570dd426b155762769c,Specials,Combo Snack Con Frubotana,1,-6.0

In [7]:
df_vuelos[ df_vuelos["Flight_ID"] == "90d2cab80b7700b5d854ae393678144b" ]

,Flight_ID,Aeronave,DepartureStation,ArrivalStation,Destination_Type,Origin_Type,STD,STA,Capacity,Passengers,Bookings
174569,90d2cab80b7700b5d854ae393678144b,XA-VYA,BM,BA,Ciudad Principal,Ciudad Fronteriza,2023-12-23 06:00:00,2023-12-23 11:15:00,180,180.0,117.0
245747,90d2cab80b7700b5d854ae393678144b,XA-VYA,BA,BT,Playa,Ciudad Principal,2023-12-23 11:45:00,2023-12-23 15:00:00,180,156.0,61.0

In [8]:
product_types = df_ventas["ProductType"].unique()

type_dict = {}
type_df = {"Type":[],"List":[],"ItemCount":[]}

for typ in product_types:
    L = list( df_ventas["ProductName"][ df_ventas["ProductType"] == typ ].unique() )
    type_dict[typ] = L
    
    type_df["Type"].append(typ)
    type_df["List"].append(L)
    type_df["ItemCount"].append(len(L))
  
type_df = pd.DataFrame(type_df)
display(type_dict)
display(type_df)

{'Botanas': ['Carne Seca Habanero',
  'Arandano Mango Mix',
  'Go Nuts',
  'Arandano',
  'Nutty Berry Mix',
  'Frutos Secos Enchilados',
  'Dip De Queso',
  'Nueces De Arbol Mix',
  'Carne Seca Original',
  'Luxury Nut Mix',
  'Tostitos Nachos Con Dip',
  'Protein Adventure',
  'Salsa Botanera',
  'Eco Holder',
  'Cheetos',
  'Tostitos',
  'Rancheritos',
  'Doritos Nacho',
  'Mafer Sin Sal',
  'Ruffles Queso',
  'Nishikawa Salado',
  'Gomita Enchilada La Cueva',
  'Kacang Flaming Hot',
  'Nishikawa Japones',
  'Cheetos Flamin Hot',
  'Fritos Limon Y Sal',
  'Sabritas Flamin Hot',
  'Sabritas Originales'],
 'Licores': ['Jw Red Label ',
  'Jack And Coke',
  'Jw Red Label',
  'Ron Bacardi',
  'Baileys',
  'Corajillo',
  'Tequila 7 Leguas Reposado',
  'Tequila 7 Leguas Blanco',
  'Sol Clamato',
  'Ultra Seltzer Frambuesa',
  'Corajillo Baileys ',
  'Vino Tinto Cria Cuervos',
  'Baileys ',
  'Vino Blanco Cria Cuervos ',
  'Topochico Seltzer Fresa-Guayaba',
  'Licor Charter',
  'Combo Stl',
  'Cerveza Charter',
  'Xx Lager',
  'Xx Ultra',
  'Amstel Ultra',
  'Tecate Light',
  'Heineken Silver',
  'Heineken Original',
  'Heineken 0',
  'Topochico Seltzer Mango',
  'Vino Tinto Sangre De Toro'],
 'Vivabus': ['Vivabus_Gdl.-Nvo. C. Camionera',
  'Vivabus Cancun: Playa Del Carmen (Sencillo)',
  'Vivabus Monterrey: Central',
  'Vivabus:Shuttle Apto.-Centro Tul.(Sencillo)',
  'Vivabus Monterrey: Fierro (Y Griega)',
  'Vivabus Cancun: Playa Del Carmen (Redondo)',
  'Aifa A Central TaxqueÃ£Â±a',
  'Apto.Gdl.-Terminal Zapopan',
  'Aifa  A Central Del Norte'],
 'Transportaciones CUN': ['Transfer Cun: Zona Hotelera Sencillo',
  'Apto Cun-Centro/Hoteles/Pto Juarez 1 A 6 Redondo',
  'Apto Cun-Centro/Hoteles/Pto Juarez 7 A 12 Redondo',
  'Apto Cun-Centro/Hoteles/Pto Juarez 1 A 6 Sencillo',
  'Tulum Redondo 6 Pax',
  'Apto Cun Puerto-Morelos-Sencillo 1 A 6  Paxs',
  'Apto Cun Puerto-Morelos-Sencillo 7 A 12',
  'Tulum Sencillo 6 Pax',
  'Apto Cun Puerto-Morelos-Redondo7 A 12',
  'Apto Cun-Centro/Hoteles/Pto Juarez 12paxs Sencillo',
  'Cancun Plaza Las Americas Sencillo',
  'Tulum Redondo 12 Pax',
  'Apto Cun Puerto-Morelos-Redondo 1 A 6  Paxs',
  'Akumal O Puerto Aventuras Sencillo 12 Pax',
  'Akumal O Puerto Aventura Sencillo 6 Pax',
  'Akumal O Puerto Aventuras Redondo 6 Pax',
  'Akumal O Puerto Aventuras Redondo 12 Pax',
  'Tulum Sencillo 12 Pax'],
 'Galletas': ['Muffin Integral',
  'Quaker Granola',
  'Quaker Avena Frutos Rojos',
  'Galleta De Chispas De Chocolate',
  'Galleta De Chocolate',
  'Galleta De Arandano Relleno De Q/Crema',
  'Quaker Avena Moras',
  'Quaker Natural Balance',
  'Chokis',
  'Arcoiris',
  'Emperador Vainilla',
  'Emperador Chocolate'],
 'Specials': ['Combo Cheve + Carne',
  'Tequila + Mezclador',
  'Combo Vino',
  'Tinto',
  'Promo Amstel',
  'Capitan Morning Con Pan Dulce',
  'Combo Cheve Doble',
  'Botana Sabritas Con Dip De Queso',
  'Combo Snack + Hsbc-Viva',
  'Coco Bongo Full Pack',
  'Combo Cheve + Hsbc-Viva',
  'Charter Cheve Doble',
  'Combovivaplay2',
  'Combo Vino Cria Cuervos',
  'Charter Licor Doble',
  'Combo Cheve',
  'Combo Snack',
  'Super Combo',
  'Combo Aventura',
  'Capitan Morning',
  'Licor + Refresco',
  'Combocine1',
  'Combovivaplay3',
  'Combo Cheve Doble + Carne',
  'Combo Licor Charter',
  'Cheve+Carne+Hsbc',
  'Combo Healthy Crew',
  'Super Combo Doble',
  'Combo Snack Con Frubotana'],
 'Bebidas Calientes': ['Te Relax',
  'Te Frutos Rojos',
  'Te Manzanilla Jengibre',
  'Te Vainilla',
  'Cafe De Olla',
  'Cafe 19 Cafe Clasico',
  'Cafe Costa',
  'Cafe 19 Chiapas',
  'Cafe 19 Capuchino'],
 'COMBOS CREW': ['Crea Combo Crew 1',
  'Crea Combo Crew 3',
  'Hsbc Promo 1c',
  'Crea Combo Crew 2',
  'Mega Cuerno Tripulacion'],
 'Hertz.': ['Cat.C.Com', 'Cat.L.', 'Cat.A.Subc', 'Cat.D.Sdn'],
 'OFERTAS ': ['Promo Hsbc 1 Bebida Gratis', 'Hsbc-Viva', 'Hazme Doble'],
 'Transportaciones MTY': ['Zona-5 Sanpedro 4pax',
  'Zona-3 Centro Mty 4pax',
  'Zona-4 Tec-Mty 4pax',
  'Zona-2 San Nicolas 4pax',
  'Zona-1 Apodaca 4pax',
  'Zona-2 San Nicolas 10pax',
  'Zona-6 Sancatarina 4pax',
  'Zona-4 Tec-Mty 10pax',
  'Zona-5 Sanpedro 10pax',
  'Zona-1 Apodaca 10pax',
  'Zona-3 Centro Mty 10pax',
  'Zona-6 Sancatarina 10pax'],
 'Transportaciones TLC': ['Transfer Tlc: Aeropuerto A Observatorio',
  'Transfer Tlc: Tollocan A Aicm',
  'Taxi Tlc: Centro',
  'Transfer Tlc: Tollocan A Santa Fe',
  'Transfer Tlc: Aeropuerto A Tollocan',
  'Taxi Tlc: Robles. Ocoyoacac',
  'Transfer Tlc: Aeropuerto A CuautitlÃ£Â¡n',
  'Taxi Tlc: Sendero',
  'Taxi Tlc: Central. San Mateo',
  'Taxi Tlc: Zona Industial'],
 'VIVA PLAY': ['Vivaplay'],
 'VIVA Taxis': ['Hoteles Pdc . Playa Car . Costa Mujeres O Playa Mujeres-Priv-Sencillo ',
  'Taxi Cdmx - Santa Fe',
  'Hoteles Pdc . Playa Car . Costa Mujeres O Playa Mujeres Priv-Redondo 6',
  'Hoteles Pdc . Playa Car . Costa Mujeres O Playa Mujerespriv-Sencillo 1',
  'Hoteles Pdc . Playa Car . Costa Mujeres O Playa Mujeres Priv-Redondo 1',
  'Taxi Acapulco Zona Dorada 3 Pax',
  'Taxi Cdmx A Polanco-Ãƒ\x81ngel Independencia.',
  'Taxi Cdmx - Aeropuerto',
  'Taxi Veracruz-Boca RÃ£\x8do-6pax',
  'Taxi Veracruz-Boca RÃ£\x8do-4pax',
  'Taxi Cdmx - Sur. Norte',
  'Taxi Huatulco Puerto Escondido 3pax',
  'Taxi Zihuatanejo Zona 1-3pax',
  'Taxi Cabos Zona 3 4pax',
  'Taxi Cabos Zona 1 4pax',
  'Taxi Cdmx - Observatorio',
  'Taxi Cdmx - Centro.',
  'Taxi Cabos Zona 2 4pax',
  'Taxi Zihuatanejo Zona 2 - 3pax',
  'Taxi Cdmx- Interlomas_Bosque-Real',
  'Taxi Huatulco Mazunte/Zipolite 3pax'],
 'Antros': ['Coco Bongo Playa', 'Coco Bongo Cancun Apartado'],
 'VivaTransfer': ['Transfer Leon: Central.Puerta Milenio Mega Centro.Poliforum',
  'Guanajuato :Bjx A Central De Autobuses',
  'Silao:Bjx A Central De Autobuses',
  'San Miguel De Allende:Bjx A Central De Autobuses',
  'Transfer Cjs: Centro De El Paso',
  'Transfer Cjs : Aeropuerto De El Paso',
  'Transfer Cjs: Consulado Americano',
  'Transfer Cjs: Aero. Cd. JuÃ£Â¡rez'],
 'Alimentos Charter': ['Cuerno Individual Charter', 'Club Sandwich'],
 'Perecederos': ['Maxi Combo',
  'Panini Clasico',
  'Panini Integral',
  'Mega Cuerno Clasico',
  'Cuerno Clasico De Pavo'],
 'Refrescos': ['Sprite',
  'Jugo De Mango',
  'Sidral Mundet',
  'Coca Cola Dieta',
  'Coca Sin Azucar',
  'Jugo De Manzana',
  'Fanta De Naranja',
  'Ciel Mineralizada',
  'Coca Cola Regular',
  'Agua Natural 600 Ml'],
 'Sopas': ['Nissin Res',
  'Nissin Fuego',
  'Nissin Picante',
  'Nissin Limon Y Habanero',
  'Nissin Dark Dragon'],
 'Lacteos': ['Leche De Fresa Sc', 'Leche De Chocolate Sc']}

,Type,List,ItemCount
0,Botanas,"[Carne Seca Habanero, Arandano Mango Mix, Go N...",28
1,Licores,"[Jw Red Label , Jack And Coke, Jw Red Label, R...",27
2,Vivabus,"[Vivabus_Gdl.-Nvo. C. Camionera, Vivabus Cancu...",9
3,Transportaciones CUN,"[Transfer Cun: Zona Hotelera Sencillo, Apto Cu...",18
4,Galletas,"[Muffin Integral, Quaker Granola, Quaker Avena...",12
5,Specials,"[Combo Cheve + Carne, Tequila + Mezclador, Com...",29
6,Bebidas Calientes,"[Te Relax, Te Frutos Rojos, Te Manzanilla Jeng...",9
7,COMBOS CREW,"[Crea Combo Crew 1, Crea Combo Crew 3, Hsbc Pr...",5
8,Hertz.,"[Cat.C.Com, Cat.L., Cat.A.Subc, Cat.D.Sdn]",4
9,OFERTAS,"[Promo Hsbc 1 Bebida Gratis, Hsbc-Viva, Hazme ...",3
10,Transportaciones MTY,"[Zona-5 Sanpedro 4pax, Zona-3 Centro Mty 4pax,...",12
11,Transportaciones TLC,"[Transfer Tlc: Aeropuerto A Observatorio, Tran...",10
12,VIVA PLAY,[Vivaplay],1
13,VIVA Taxis,[Hoteles Pdc . Playa Car . Costa Mujeres O Pla...,21
14,Antros,"[Coco Bongo Playa, Coco Bongo Cancun Apartado]",2
15,VivaTransfer,[Transfer Leon: Central.Puerta Milenio Mega Ce...,8
16,Alimentos Charter,"[Cuerno Individual Charter, Club Sandwich]",2
17,Perecederos,"[Maxi Combo, Panini Clasico, Panini Integral, ...",5
18,Refrescos,"[Sprite, Jugo De Mango, Sidral Mundet, Coca Co...",10
19,Sopas,"[Nissin Res, Nissin Fuego, Nissin Picante, Nis...",5
20,Lacteos,"[Leche De Fresa Sc, Leche De Chocolate Sc]",2

In [12]:
# Datos de ventas para entrenamiento de modelo. Usar el Flight_ID para pegar el resto de la informaciÃ³n

df_ventas_sum = df_ventas[["Flight_ID","ProductType","Quantity"]].groupby(by=["Flight_ID","ProductType"], as_index=False).sum()
# df_ventas_id = df_ventas[["Flight_ID","ProductType"]].groupby(by="ProductType", as_index=False)

display(df_ventas_sum)

                               Flight_ID  ProductType  Quantity
0       00004a718edba9d9ef878d08f02ae057      Botanas        13
1       00004a718edba9d9ef878d08f02ae057     Galletas         2
2       00004a718edba9d9ef878d08f02ae057      Licores         1
3       00004a718edba9d9ef878d08f02ae057  Perecederos         4
4       00004a718edba9d9ef878d08f02ae057    Refrescos        16
...                                  ...          ...       ...
777944  ffff881a59bc5274e97ea3c4de344e05      Botanas         2
777945  ffff881a59bc5274e97ea3c4de344e05     Galletas         1
777946  ffff881a59bc5274e97ea3c4de344e05  Perecederos         3
777947  ffff881a59bc5274e97ea3c4de344e05    Refrescos         3
777948  ffff881a59bc5274e97ea3c4de344e05     Specials         2

[777949 rows x 3 columns]

In [10]:
df_vuelos_2 = df_vuelos.dropna()

# Factores que influencian la venta:
# - Factor de ocupaciÃ³n (OccupationFactor)
# - Origen / Destino del vuelo (Origin_Type, Destination_Type)
# - DuraciÃ³n del vuelo (FlightDuration)
# - Horario del vuelo (Time)
# - Temporada (Month)

df_vuelos_2["OccupationFactor"] = df_vuelos_2["Passengers"] / df_vuelos_2["Capacity"]
df_vuelos_2["FlightDuration"] = df_vuelos_2["STA"] - df_vuelos_2["STD"]
df_vuelos_2["Month"] = df_vuelos_2["STD"].dt.month
df_vuelos_2["Time"] = df_vuelos_2["STD"].dt.time

compras_p_vuelo = df_ventas[["Flight_ID","Quantity","TotalSales"]].groupby("Flight_ID").sum().reset_index()
compras_p_vuelo = pd.DataFrame(compras_p_vuelo)
map_ventas = dict(zip( compras_p_vuelo["Flight_ID"], compras_p_vuelo["TotalSales"] ))

df_vuelos_2["TotalSales"] = df_vuelos_2["Flight_ID"].map(map_ventas)

df_final = df_vuelos_2.dropna()

display(df_final)

C:\Users\missa\AppData\Local\Temp\ipykernel_31664\4203233098.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_vuelos_2["OccupationFactor"] = df_vuelos_2["Passengers"] / df_vuelos_2["Capacity"]
C:\Users\missa\AppData\Local\Temp\ipykernel_31664\4203233098.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_vuelos_2["FlightDuration"] = df_vuelos_2["STA"] - df_vuelos_2["STD"]
C:\Users\missa\AppData\Local\Temp\ipykernel_31664\4203233098.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_vuelos_2["Month"] = df_vuelos_2["STD"].dt.month
C:\Users\missa\AppData\Local\Temp\ipykernel_31664\4203233098.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_vuelos_2["Time"] = df_vuelos_2["STD"].dt.time
C:\Users\missa\AppData\Local\Temp\ipykernel_31664\4203233098.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_vuelos_2["TotalSales"] = df_vuelos_2["Flight_ID"].map(map_ventas)

,Flight_ID,Aeronave,DepartureStation,ArrivalStation,Destination_Type,Origin_Type,STD,STA,Capacity,Passengers,Bookings,OccupationFactor,FlightDuration,Month,Time,TotalSales
0,ab954014077430bd842cfa305a55c0f8,XA-VBY,AT,AZ,Ciudad Fronteriza,Ciudad Principal,2023-10-19 11:40:00,2023-10-19 14:25:00,240,229.0,157.0,0.954167,0 days 02:45:00,10,11:40:00,2404.0
1,efd86c996035dacdca7a0ccb2560dda1,XA-VIX,BM,AV,MX Amigos y Familia,Ciudad Fronteriza,2023-07-03 00:55:00,2023-07-03 04:55:00,186,197.0,109.0,1.059140,0 days 04:00:00,7,00:55:00,949.0
4,d0987ee648eea254063bfe2b39571b67,XA-VAP,BA,AB,Playa,Ciudad Principal,2023-02-10 08:40:00,2023-02-10 09:50:00,186,162.0,90.0,0.870968,0 days 01:10:00,2,08:40:00,1076.0
5,3b5df8805161ea827d2f2e4298c38e06,XA-VBY,AJ,AR,Playa,MX Amigos y Familia,2023-09-07 17:10:00,2023-09-07 18:05:00,240,183.0,125.0,0.762500,0 days 00:55:00,9,17:10:00,360.0
6,8fa200a3d1ce23ef6802a74847e030b8,XA-VXC,BM,AV,MX Amigos y Familia,Ciudad Fronteriza,2023-10-10 00:55:00,2023-10-10 04:55:00,240,210.0,116.0,0.875000,0 days 04:00:00,10,00:55:00,2034.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245689,9bbd9f3a2bbcaeae864d17e3ee544d2c,XA-VAE,AT,BT,Playa,Ciudad Principal,2023-12-06 12:50:00,2023-12-06 16:10:00,186,191.0,119.0,1.026882,0 days 03:20:00,12,12:50:00,2362.0
245718,d9ef769565064b1ff1ad90d6d18f69cb,XA-VYF,AO,BT,Playa,Ciudad Principal,2023-12-26 06:20:00,2023-12-26 10:10:00,180,166.0,89.0,0.922222,0 days 03:50:00,12,06:20:00,3730.0
245745,598035669a4f0fa2ce1207977932df9e,XA-VAI,AW,BT,Playa,Ciudad Principal,2023-12-28 10:25:00,2023-12-28 13:50:00,180,142.0,54.0,0.788889,0 days 03:25:00,12,10:25:00,8086.0
245748,cc7c1c5e6fd132fd0bdab3a35aac33c0,XA-VBK,BM,BT,Playa,Ciudad Fronteriza,2023-12-29 07:30:00,2023-12-29 14:50:00,240,189.0,86.0,0.787500,0 days 07:20:00,12,07:30:00,11435.0
245750,9c8970e9836d9c5ef9415bfa93c3f408,XA-VAC,AT,BT,Playa,Ciudad Principal,2023-12-22 12:50:00,2023-12-22 16:10:00,180,163.0,95.0,0.905556,0 days 03:20:00,12,12:50:00,12516.0